<!DOCTYPE　html>

<html>
  <head>
    <title>books</title>
  </head>

  <body>
    <p id="notice"></p>
    <h2>Books</h2>
    <table>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th colspan="3"></th>
      </tr>

      <% @newbooks.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
        <td>
          <%= link_to "Show", book_path(book) %>
        </td>
        <td>
          <%= link_to "Edit", edit_book_path(book) %>
        </td>
        <td>
          <%= link_to "Destroy", book_path(book), method: :delete,  "data-confirm" => "Are you sure？" %>

          </td>
      </tr>

      <% end %>
    </table>

    <h3>New book</h3>
    <%= form_with model:@newbook, local:true do |f| %>

    <% if @newbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newbook.errors.count, "error") %> prohibited this book from being saved:</h2>
      <ul>
        <% @newbook.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <h4>Title</h4>
    <%= f.text_field :title %>

    <h4>Body</h4>
    <%= f.text_area :body %>

    <p><%= f.submit 'Create Book' %></p>

    <% end %>



    </form>
  </body>
</html>