<%= form_with model:@newbook, local: true do |f| %>
  <%= flash[:notice] %>

  <p>
    <strong>Title:</strong>
     <%= @newbook.title %>

  </p>  
  <p>
    <strong>Body:</strong>
     <%= @newbook.body %>

  </p>

  <%= link_to "Edit", edit_book_path %>
  |
  <%= link_to "Back", books_path %>

<% end %>
